<div class="search">
  <img id="search-icon" src="assets/Images/bx-search.png" alt="Search Icon" />
  <input type="search" class="search-input" placeholder="Search" />

  <span id="icon-menu-container">
    <img
      class="menu-icon"
      src="assets/Images/Vertical Navbar/Language.svg"
      alt=""
    />
    <img
      class="menu-icon"
      src="assets/Images/Vertical Navbar/Categories.svg"
      alt=""
    />
    <img
      class="menu-icon"
      src="assets/Images/Vertical Navbar/Mode.svg"
      alt=""
    />
    <img
      id="notifications-icon"
      class="menu-icon"
      src="assets/Images/Vertical Navbar/Notifications.svg"
      alt=""
    />
  </span>

  <div id="profile">
    <img class="profile-image" src="assets/Images/jhon abraham.jpg" alt="" />
    <div id="user-status"></div>

    <div id="profile-text-container">
      <p id="profile-name">Jhon Abraham</p>
      <p id="profile-designation">Admin</p>
    </div>
    <select name="profile-dropdown" id="profile-dropdown"></select>
  </div>
</div>
