<section id="sidebar">
  <div class="tezo-logo">
    <a routerLink="/"
      ><img src="assets/Images/TezoLogo.png" alt="Tezo Logo"
    /></a>
  </div>
  <img
    id="handle"
    (click)="ToggleEvent()"
    [ngClass]="shortView ? 'close' : 'content-width'"
    src="assets/Images/handle.png"
    alt=""
  />

  <div class="menu">
    <p id="menu-desc">ALL</p>
    <div id="sidebar-menu-dashboard" class="sidebar-menu-item">
      <img src="assets/Images/Horizontal nav/Dashboard.svg" alt="" />
      <p>Dashboard</p>
    </div>

    <div id="employee-option-container">
      <a
        routerLink="/"
        routerLinkActive="Active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <div id="sidebar-menu-employees" class="sidebar-menu-item">
          <img
            class="employee-icon"
            src="assets/Images/Horizontal nav/employee-black.svg"
            alt=""
          />
          <p>Employees</p>
        </div>
        <div id="tab-indicator-employee" class="active"></div>
      </a>
    </div>
  </div>

  <div class="menu">
    <p id="menu-desc">Role/User Management</p>
    <a
      routerLink="/roles"
      routerLinkActive="Active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <div id="sidebar-menu-role" class="sidebar-menu-item">
        <img src="assets/Images/Horizontal nav/Roles.svg" alt="" />
        <p>Roles</p>
        <div id="tab-indicator-role" class="active"></div>
      </div>
    </a>

    <div id="sidebar-menu-access" class="sidebar-menu-item">
      <img src="assets/Images/Horizontal nav/assign user.svg" alt="" />
      <p>Access Rights</p>
    </div>

    <div id="update-message">
      <h5>Install new update 2.3.1A</h5>
      <p>Allow to launch the new update for the AD application</p>
      <div id="update-message-btn-container">
        <button id="dismiss-btn" class="update-message-btn">Dismiss</button>
        <button id="accept-btn" class="update-message-btn">Accept</button>
      </div>
    </div>
  </div>
</section>
