#employee-filter {
  display: flex;
  margin-top: 2%;
}

.search-by-letter-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  flex-wrap: wrap;
}

.search-by-letter {
  cursor: pointer;
  width: 2.5vw;
  height: 6vh;
  font-size: 1vw;
  border-style: none;
  border-radius: 7px;
  background-color: rgba(128, 128, 128, 0.125);
}

.search-by-letter:hover {
  background-color: red;
  color: white;
  opacity: 0.7;
}
