<div id="content-employee">
  <div id="content-employee-title">
    <h4>Roles > Employees</h4>
    <p>All the roles are configured here.</p>
  </div>

  <div class="employee-operation">
    <button id="add-employee-btn" routerLink="/addEmployee">
      <img id="add-employee-icon" src="assets/Images/Interface/Add.svg" />ADD
      EMPLOYEE
    </button>
  </div>
</div>

<div id="role-description">
  <h4 id="role-desc-title">Role Description</h4>
  <div id="role-desc-text">
    <p>
      Configure the providers that are available to users when they sign
      in.Configure the providers that are available to users when they sign
      in.Configure the providers that are available to users when they sign
      in.Configure the providers that are available to users when they sign in.
    </p>
  </div>
</div>

<div class="cards">
  <div class="card">
    <div class="card__content">
      <div class="card__info">
        <div class="employee-icon-container">
          <img id="stack-img-1" src="assets/Images/user.png" alt="" />
        </div>

        <div id="employee-icon-description">
          <h5 id="employee-icon-title">Robort Fox</h5>
          <p id="employee-icon-text">Head of product design</p>
        </div>
      </div>
      <div id="employee_code" class="card__info">
        <img
          id="department-logo"
          src="assets/Images/employee_code.svg"
          alt="department logo"
        />
        <p id="department-txt" class="">INF122</p>
      </div>
      <div id="employee_mail" class="card__info">
        <img
          id="mail-logo"
          src="assets/Images/email.svg"
          alt="department logo"
        />
        <p id="mail-txt" class="">adamk&#64;yahoo.com</p>
      </div>
      <div id="employee_field" class="card__info">
        <img
          id="field-logo"
          src="assets/Images/department-logo.svg"
          alt="department logo"
        />
        <p id="field-txt" class="">Technology</p>
      </div>
      <div class="card__info">
        <img
          id="location-logo"
          src="assets/Images/location-logo.svg"
          alt="department logo"
        />
        <p id="location-txt" class="">Stockton,New Hampshire</p>
      </div>

      <div id="all-employee-btn-container">
        <div id="view-all-employee">
          <p>
            View
            <img src="assets/Images/arrow-right.svg" alt="arrow right" />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__content">
      <div class="card__info">
        <div class="employee-icon-container">
          <img id="stack-img-1" src="assets/Images/user.png" alt="" />
        </div>

        <div id="employee-icon-description">
          <h5 id="employee-icon-title">Marvin Mckinney</h5>
          <p id="employee-icon-text">Head of Engineering</p>
        </div>
      </div>
      <div id="employee_code" class="card__info">
        <img
          id="department-logo"
          src="assets/Images/employee_code.svg"
          alt="department logo"
        />
        <p id="department-txt" class="">INF150</p>
      </div>
      <div id="employee_mail" class="card__info">
        <img
          id="mail-logo"
          src="assets/Images/email.svg"
          alt="department logo"
        />
        <p id="mail-txt" class="">sravani&#64;yahoo.com</p>
      </div>
      <div id="employee_field" class="card__info">
        <img
          id="field-logo"
          src="assets/Images/department-logo.svg"
          alt="department logo"
        />
        <p id="field-txt" class="">Admin</p>
      </div>
      <div class="card__info">
        <img
          id="location-logo"
          src="assets/Images/location-logo.svg"
          alt="department logo"
        />
        <p id="location-txt" class="">Syracuse,connecticut</p>
      </div>

      <div id="all-employee-btn-container">
        <div id="view-all-employee">
          <p>
            View
            <img src="assets/Images/arrow-right.svg" alt="arrow right" />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__content">
      <div class="card__info">
        <div class="employee-icon-container">
          <img id="stack-img-1" src="assets/Images/user.png" alt="" />
        </div>

        <div id="employee-icon-description">
          <h5 id="employee-icon-title">Elenor pena</h5>
          <p id="employee-icon-text">Senior Interaction Designer</p>
        </div>
      </div>
      <div id="employee_code" class="card__info">
        <img
          id="department-logo"
          src="assets/Images/employee_code.svg"
          alt="department logo"
        />
        <p id="department-txt" class="">INF240</p>
      </div>
      <div id="employee_mail" class="card__info">
        <img
          id="mail-logo"
          src="assets/Images/email.svg"
          alt="department logo"
        />
        <p id="mail-txt" class="">grolschie&#64;mac.com</p>
      </div>
      <div id="employee_field" class="card__info">
        <img
          id="field-logo"
          src="assets/Images/department-logo.svg"
          alt="department logo"
        />
        <p id="field-txt" class="">Customer Executive</p>
      </div>
      <div class="card__info">
        <img
          id="location-logo"
          src="assets/Images/location-logo.svg"
          alt="department logo"
        />
        <p id="location-txt" class="">Portland,Illinois</p>
      </div>

      <div id="all-employee-btn-container">
        <div id="view-all-employee">
          <p>
            View
            <img src="assets/Images/arrow-right.svg" alt="arrow right" />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__content">
      <div class="card__info">
        <div class="employee-icon-container">
          <img id="stack-img-1" src="assets/Images/user.png" alt="" />
        </div>

        <div id="employee-icon-description">
          <h5 id="employee-icon-title">Jane Cooper</h5>
          <p id="employee-icon-text">Product Analyst</p>
        </div>
      </div>
      <div id="employee_code" class="card__info">
        <img
          id="department-logo"
          src="assets/Images/employee_code.svg"
          alt="department logo"
        />
        <p id="department-txt" class="">INF389</p>
      </div>
      <div id="employee_mail" class="card__info">
        <img
          id="mail-logo"
          src="assets/Images/email.svg"
          alt="department logo"
        />
        <p id="mail-txt" class="">chronos&#64;aol.com</p>
      </div>
      <div id="employee_field" class="card__info">
        <img
          id="field-logo"
          src="assets/Images/department-logo.svg"
          alt="department logo"
        />
        <p id="field-txt" class="">Product</p>
      </div>
      <div class="card__info">
        <img
          id="location-logo"
          src="assets/Images/location-logo.svg"
          alt="department logo"
        />
        <p id="location-txt" class="">Coppell,Virginia</p>
      </div>

      <div id="all-employee-btn-container">
        <div id="view-all-employee">
          <p>
            View
            <img src="assets/Images/arrow-right.svg" alt="arrow right" />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__content">
      <div class="card__info">
        <div class="employee-icon-container">
          <img id="stack-img-1" src="assets/Images/user.png" alt="" />
        </div>

        <div id="employee-icon-description">
          <h5 id="employee-icon-title">Floyd Mile</h5>
          <p id="employee-icon-text">Visual Desginer</p>
        </div>
      </div>
      <div id="employee_code" class="card__info">
        <img
          id="department-logo"
          src="assets/Images/employee_code.svg"
          alt="department logo"
        />
        <p id="department-txt" class="">INF209</p>
      </div>
      <div id="employee_mail" class="card__info">
        <img
          id="mail-logo"
          src="assets/Images/email.svg"
          alt="department logo"
        />
        <p id="mail-txt" class="">dgatwood&#64;msn.com</p>
      </div>
      <div id="employee_field" class="card__info">
        <img
          id="field-logo"
          src="assets/Images/department-logo.svg"
          alt="department logo"
        />
        <p id="field-txt" class="">Customer Executive</p>
      </div>
      <div class="card__info">
        <img
          id="location-logo"
          src="assets/Images/location-logo.svg"
          alt="department logo"
        />
        <p id="location-txt" class="">Lansing,Illinois</p>
      </div>

      <div id="all-employee-btn-container">
        <div id="view-all-employee">
          <p>
            View
            <img src="assets/Images/arrow-right.svg" alt="arrow right" />
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__content">
      <div class="card__info">
        <div class="employee-icon-container">
          <img id="stack-img-1" src="assets/Images/user.png" alt="" />
        </div>

        <div id="employee-icon-description">
          <h5 id="employee-icon-title">Dianne Russell</h5>
          <p id="employee-icon-text">Full Stack Softare Engineer</p>
        </div>
      </div>
      <div id="employee_code" class="card__info">
        <img
          id="department-logo"
          src="assets/Images/employee_code.svg"
          alt="department logo"
        />
        <p id="department-txt" class="">INF922</p>
      </div>
      <div id="employee_mail" class="card__info">
        <img
          id="mail-logo"
          src="assets/Images/email.svg"
          alt="department logo"
        />
        <p id="mail-txt" class="">kspiteri&#64;live.com</p>
      </div>
      <div id="employee_field" class="card__info">
        <img
          id="field-logo"
          src="assets/Images/department-logo.svg"
          alt="department logo"
        />
        <p id="field-txt" class="">Human Research</p>
      </div>
      <div class="card__info">
        <img
          id="location-logo"
          src="assets/Images/location-logo.svg"
          alt="department logo"
        />
        <p id="location-txt" class="">Corona,Michigan</p>
      </div>

      <div id="all-employee-btn-container">
        <div id="view-all-employee">
          <p>
            View
            <img src="assets/Images/arrow-right.svg" alt="arrow right" />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
